@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #07004d;
  --secondary-color: #2d82b7;
  --danger-color: #eb8a90;

  --accent-color: #42e2b8;
  --accent-color-2: #83ecd0;

  --bg-color-1: #f3dfbf;
  --bg-color-2: #efd4ad;
  --bg-color-3: #ebcc98;
}

body {
  height: 100vh;
  background-color: var(--bg-color-1);
  font-size: 16px;
  color: var(--secondary-color);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

input,
textarea,
button {
  border: none;
  outline: none;
  background-color: transparent;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 1.5rem;
  cursor: pointer;
  color: red;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--accent-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
